.quiz {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 40px;
  font-size: 20px;
}
/* .flex {
  display: flex;
  font-size: 25px;
  justify-content: space-around;
} */

.option input {
  margin-right: 10px;
}
.option {
  font-size: 25px;
  padding: 5px;
}
